<!-- heade -->
<div class="popup-wrap" data-backdrop="static" data-keyboard="false">
    <div class="popup-header">
        <h5>Employee</h5>
    </div>
    <div class="popup-content">
        <form [formGroup]="empForm">
            <mat-form-field class="example-full-width" appearance="outline">
                <!-- <mat-label>Employee ID</mat-label> -->
                <input matInput placeholder="Employee ID (DS_XX)" formControlName="empId">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <!-- <mat-label>Employee Name</mat-label> -->
                <input matInput placeholder="Employee Name" formControlName="name">
            </mat-form-field>

        </form>
    </div>
    <div class="popup-footer">
        <!-- <button [id]="button?.id" mat-button fxFlex="72px"
                [ngClass]="{'primary-cta': button?.isButtonFilled, 'tertiary-cta': !button?.isButtonFilled}"
                *ngIf="button?.type==='BUTTON' && button?.isVisible" (click)="sendDataToParent(button?.events?.onClick)"
                [class.disabled]="!button?.isEnable || (button.name!== 'Cancel' && (!formGroup.valid))">

                <span *ngIf="!button?.showSpinner else contentWithSpinner">{{button?.name}}</span>

                <ng-template #contentWithSpinner>
                    <span *ngIf="!showSpinner">{{button?.name}}</span>
                    <mat-spinner [diameter]="20" *ngIf="showSpinner"></mat-spinner>
                </ng-template>
            </button> -->
        <button mat-button type="submit" (click)="addEmployee()" [disabled]="empForm.invalid">Add Employee</button>
    </div>
</div>