<!-- <form [formGroup]="empForm">

  <mat-form-field class="example-full-width">
    <mat-label>Employee ID</mat-label>
    <input matInput placeholder="Employee ID (DS_XX)" formControlName="empId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Employee Name</mat-label>
    <input matInput placeholder="Employee Name" formControlName="name">
  </mat-form-field>

  <button mat-button type="submit" (click)="addEmployee()" [disabled]="empForm.invalid">Add Employee</button>
</form> -->
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="true" [class.collapsed]="!opened">
    <mat-nav-list>
      <a mat-list-item (click)="toggleSidebar()" class="menu-toggle">
        <mat-icon>menu</mat-icon>
        <span *ngIf="opened">Collapse</span>
      </a>
      <a mat-list-item routerLink="/" matTooltip="Dashboard" matTooltipPosition="right">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="opened">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/employees" matTooltip="Employees" matTooltipPosition="right">
        <mat-icon>people</mat-icon>
        <span *ngIf="opened">Employees</span>
      </a>
      <a mat-list-item routerLink="/settings" matTooltip="Settings" matTooltipPosition="right">
        <mat-icon>settings</mat-icon>
        <span *ngIf="opened">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.sidebar-open]="opened">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>