<form [formGroup]="empForm">
  <input type="text" formControlName="name" placeholder="Employee Name" />
  <input type="text" formControlName="empId" placeholder="Employee ID (DS_XX)" />
  <button mat-button type="submit" (click)="addEmployee()" [disabled]="empForm.invalid">Add Employee</button>
</form>

<table>
  <tr>
    <th>Employee ID</th>
    <th>Employee Name</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{employee.emp_id}}</td>
    <td>{{employee.emp_name}}</td>
  </tr>
</table>